name: Deploy Ivy

on:
  push:
    branches: [main]
    paths:
      - "apps/ivy/**"
      - "libs/engine/**"
  workflow_dispatch:

permissions:
  contents: read
  deployments: write

jobs:
  deploy:
    uses: ./.github/workflows/_deploy-pages.yml
    with:
      app-dir: apps/ivy
      project-name: ivy
      needs-engine: true
      needs-foliage: true
    secrets: inherit
